{% extends "base.html" %}

{% block title %}Remote Camera Controller{% endblock %}

{% block content %}
<div id="status-bar">
    {% include 'components/camera_status.html' %}
</div>
<div id="app-body">
    <div id="tab-column">
        <button class="tab-button active" data-tab-target="#tab-preview">Preview</button>
        <button class="tab-button" data-tab-target="#tab-capture">Capture</button>
        <button class="tab-button" data-tab-target="#tab-timelapse">Timelapse</button>
    </div>
    <div id="content-area">
        <div id="tab-preview" class="tab-content">
            {% include 'components/preview.html' %}
        </div>
        <div id="tab-capture" class="tab-content hidden">
            {% include 'components/capture.html' %}
        </div>
        <div id="tab-timelapse" class="tab-content hidden">
            {% include 'components/timelapse.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script src="{{ url_for('static', filename='js/preview.js') }}"></script>
<script src="{{ url_for('static', filename='js/timelapse.js') }}"></script>
{% endblock %}